<h1>See Dragon Details</h1>

<ul>
  <li> <%= @dragon.name %> </li>
  <li> <%= @dragon.power %> </li>
  <li> <%= @dragon.age %> </li>
  <li> <%= @dragon.level %></li>
  <li> <%= @dragon.price %></li>
</ul>


<%= link_to "Book this Beast!", new_dragon_booking_path(@dragon) %>

<%= link_to "Go back to all Dragons", dragons_path(@dragon) %>
