<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>

      <%= image_tag "https://scalebranding.com/wp-content/uploads/2022/01/Letter-D-Dragon-Logo.jpg" %>
    <% end %>
    <h2> <%= link_to "ðŸ‰  DRA-GO  ðŸ‰", dragons_path, class: "nav-link fa-solid" %></h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          <li class="nav-item">

            <%= link_to dragons_path(anchor:'map'), class: "navbar-brand nav-link" do %>
            <%= image_tag "https://res.cloudinary.com/dzk0qfl8v/image/upload/v1661511938/mapmarker_gcmixn.png" %>
            <% end %>
            <%# <%= link_to "Map", map_path, class: "nav-link login" %>
          </li>
          </li>

          <li class="nav-item dropdown">
            <%= image_tag "https://pbs.twimg.com/profile_images/1243475459125456896/e-zIQiFY_400x400.jpg", class: "rounded-circle dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">


              <%= link_to "See my Beasts", dashboard_path, class: "dropdown-item" %>
              <%= link_to "See my Bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>

            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link login" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up",  new_user_registration_path, class: "nav-link login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
